# Text Editor Webcomponent

A plain javascript web component based on [codemirror](https://codemirror.net/) with language definitions for XML and Leiden+.

[Demo](https://jinnelements.github.io/jinn-codemirror/)

Features:

    * Configurable toolbar with support for snippets
    * Autocomplete based on a JSON representation of the schema (currently TEI only)
    * Commands for XML editing: 
      * enclose in element
      * remove enclosing parent
      * select parent
      
## API
